
.menu {
    list-style: none;
    padding: 0;
    background: rgb(174, 0, 0);
    width: 100%;
    max-width: 1000x;
    margin: auto;
    
}

.menu li a{
    text-decoration: none;
    color: rgb(132, 0, 0);
    padding: 20px;
    display: block;

}

.menu li{
    display: inline-block;
    text-align: center;

}

.menu li a:hover{
    background: green;

}

.formulario{
    background: rgb(255, 255, 255);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    width: 400px;
    box-shadow: 13px 13px 37px rgb(0, 0, 0);
}

#nombre{
    width: 100%;
    margin-bottom: 10px;
}
#email{
    width: 100%;
    margin-bottom: 10px;
}
#telefono{
    width: 100%;
    margin-bottom: 10px;
}
#ciudad{
    width: 100%;
    margin-bottom: 10px;
}
#documento{
    width: 100%;
    margin-bottom: 10px;
}
#mensaje{
    width: 100%;
    margin-bottom: 10px;
}
#tipo_documento{
    margin-bottom: 10px;
}