*{
    padding: 0px;
    margin: 0px;
}


header{

    background: gray;
    height: 50px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 50px;

}



#menu ul ol{

    float: left;
    list-style: none;
    padding: 5px;
    display:block;
    color: black;
    background-color:rgb(0, 119, 255);
    text-decoration: none;
    margin: auto;

}

#menu ol:hover{
    background-color: gray;
}

#menu ol:hover > ul{
    display:block;
}

#menu{
    background: rgb(0, 119, 255);
    height: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.contenido{
    background: gray;
    margin: 0px;
    min-height: 500px;
}

#slide{

    border: 1px solid black;
    min-height: 200px;
    
    background: gray;
}


